/* This forces the scroll container to be the browser window */
html,
body {
  overflow: visible !important;
  height: auto !important;
  min-height: 100% !important;
}

/* If you have a root div from Vite/React */
#root {
  overflow: visible !important;
}

::selection {
  background-color: #dda15e;
  color: #000;
}

::-moz-selection {
  background-color: #dda15e;
  color: #000;
}

@import "tailwindcss";

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.5s ease-out;
}

.animate-slide-in-left {
  animation: slideInLeft 0.5s ease-out;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #283618;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: auto;
  min-height: 100%;
  overflow-y: auto;
}
